# Tweeer - A Twitter Scraper

In [1]:
import os # for getting twitter api token
import tweepy # for working with twitter api
import jsonlines # to store and retrieve tweets

In [15]:
# variables
consumer_token = os.environ["consumer_token"]
consumer_secret = os.environ["consumer_secret"]
access_token = os.environ["access_token"]
access_secret = os.environ["access_secret"]
num_tweets = 200
screen_name = "midasIIITD"
page = 1

In [3]:
# authenticate the user
auth = tweepy.OAuthHandler(consumer_token, consumer_secret)

In [4]:
# set access tokens (OAuth dance is already done and the token obtained)
auth.set_access_token(access_token, access_secret)

In [5]:
# access the tweepy api
api = tweepy.API(auth)

## Create an empty list to hold all tweets by @midasIIITD

In [16]:
tweets = list()

In [17]:
# fetch initial 200 tweets
curr_tweets = api.user_timeline(screen_name=screen_name, count=num_tweets, page=page)
page += 1

In [18]:
page #debug

2

In [19]:
# append new tweets to original tweets dictionary
tweets.extend(curr_tweets)

In [20]:
# continuously fetch rest of the tweets
while(len(curr_tweets) > 0):
    curr_tweets = api.user_timeline(screen_name=screen_name, count=num_tweets, page=page)
    
    tweets.extend(curr_tweets)
    
    page += 1

In [22]:
# get total number of tweets
len(tweets)

342

In [24]:
# get structure of a single tweet
tweets[0]._json.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'lang'])

In [42]:
# nested structure
tweets[0]._json['entities'].keys()

dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])

In [154]:
for i in range(20):
    print(tweets[i]._json['entities'].keys())

dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls', 'media'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])
dict_keys(['hashtags', 'symbols', 'user_mentions', 'urls'])

## Create a list of tweet objects

In [25]:
tweets_to_dump = []

In [26]:
for tweet in tweets:
    tweets_to_dump.append(tweet._json)

In [27]:
assert len(tweets_to_dump) == 342

## Dump tweets to a jsonline file

In [28]:
file_name = "midasIIITD_tweets.jsonlines"

In [29]:
with jsonlines.open(file_name, mode='w') as writer:
    writer.write_all(tweets_to_dump)

## Read and parse JSONlines file

In [53]:
# use pandas for reading JSONlines file
import pandas as pd

In [146]:
# import file into a pandas dataframe
df = pd.read_json(file_name, lines=True)

In [147]:
# take a sneak-peak
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,NaN,NaN,2019-04-09 16:45:07,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1115656899892879361,1115656899892879360,...,NaN,NaN,NaN,8,False,{'created_at': 'Tue Apr 09 09:03:12 +0000 2019...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @IIITDelhi: We are delighted to share that ...,False,"{'id': 1021355762575073281, 'id_str': '1021355..."
1,NaN,NaN,2019-04-09 05:04:27,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1115480571323371520,1115480571323371520,...,NaN,NaN,NaN,35,False,{'created_at': 'Mon Apr 08 20:10:01 +0000 2019...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @Harvard: Professor Jelani Nelson founded A...,False,"{'id': 1021355762575073281, 'id_str': '1021355..."
2,NaN,NaN,2019-04-09 05:04:11,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1115480504931844101,1115480504931844096,...,NaN,NaN,NaN,12,False,{'created_at': 'Mon Apr 08 17:35:00 +0000 2019...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @emnlp2019: For anyone interested in submit...,False,"{'id': 1021355762575073281, 'id_str': '1021355..."
3,NaN,NaN,2019-04-08 19:38:09,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,1115338057400573953,1115338057400573952,...,NaN,NaN,NaN,15,False,{'created_at': 'Mon Mar 18 06:40:38 +0000 2019...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @multimediaeval: Announcing the 2019 MediaE...,False,"{'id': 1021355762575073281, 'id_str': '1021355..."
4,NaN,NaN,2019-04-08 07:08:12,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,14,False,NaN,1115149324533542912,1115149324533542912,...,NaN,NaN,NaN,2,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","Many Congratulations to @midasIIITD student, S...",True,"{'id': 1021355762575073281, 'id_str': '1021355..."

# create column num_images indicating number of images in the tweet
if 'media' in df['entities']:
    df['num_images'] = len(df['entities']['media'])
else:
    df['num_images'] = None

In [149]:
# create a new column, value contains number of images in tweet
df['num_images'] = df['entities'].apply(lambda x: len(x['media']) if 'media' in x else None)

In [150]:
# get a list of dataframe columns
df = df[['text' ,'created_at', 'favorite_count', 'retweet_count', 'num_images']]

In [151]:
# convert NaN to None
df = df.where((pd.notnull(df)), None)

In [153]:
df.head(20)

,text,created_at,favorite_count,retweet_count,num_images
0,RT @IIITDelhi: We are delighted to share that ...,2019-04-09 16:45:07,0,8,None
1,RT @Harvard: Professor Jelani Nelson founded A...,2019-04-09 05:04:27,0,35,None
2,RT @emnlp2019: For anyone interested in submit...,2019-04-09 05:04:11,0,12,None
3,RT @multimediaeval: Announcing the 2019 MediaE...,2019-04-08 19:38:09,0,15,None
4,"Many Congratulations to @midasIIITD student, S...",2019-04-08 07:08:12,14,2,None
5,@midasIIITD thanks all students who have appea...,2019-04-08 03:27:42,5,0,None
6,"@himanchalchandr Meanwhile, complete CV/NLP ta...",2019-04-07 14:17:29,0,0,None
7,@sayangdipto123 Submit as per the guideline ag...,2019-04-07 14:17:09,0,0,None
8,We request all students whose interview are sc...,2019-04-07 11:43:24,1,1,None
9,"Other queries: ""none of the Tweeter Apis give ...",2019-04-07 06:55:19,5,2,None
10,"Other queries: ""do we have to make two differe...",2019-04-07 06:53:38,4,1,None
11,"Other queries: ""If using Twitter api, it does ...",2019-04-07 05:32:27,6,1,None
12,Response to some queries asked by students on ...,2019-04-07 05:29:40,7,1,None
13,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,2019-04-06 17:11:29,0,2,None
14,@nupur_baghel @PennDATS Congratulation @nupur_...,2019-04-06 16:43:27,18,3,None
15,We have emailed the task details to all candid...,2019-04-05 16:08:37,11,1,None
16,RT @rfpvjr: Our NAACL paper on polarization in...,2019-04-05 04:05:11,0,16,None
17,RT @kdnuggets: Effective Transfer Learning For...,2019-04-05 04:04:43,0,11,1
18,RT @stanfordnlp: What’s new in @Stanford CS224...,2019-04-03 18:31:53,0,59,None
19,RT @DeepMindAI: Today we're releasing a large-...,2019-04-03 17:04:32,0,870,None